.outline{
    position: relative;
    width: 850px;
    height: 730px;
    margin-top: 50px;
    background-color: #dbdbdb;
    border-radius: 10px;
}

.con1{
    display: inline-block;
    vertical-align: middle;
    width: 250px;
    height: 300px;
    margin-left:25px;
    margin-top: 20px;
    background-color: #fcfcfc;
    border-radius: 20px;
    border-color: black;
}
.nav{

}